body{
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg{
  border: 1px solid #635F5D;
}

rect{
  fill: steelblue;
  color: red;
}

text{
  font-family: sans-serif;
}

.tick text{
  font-size: 1.34em;
  fill: #635F5D;
}

.axis-label{
  font-size: 2em;
  fill: #8E8883;
}

.title{
  font-size: 2em;
  fill: #635F5D;
  
}

.info{
  font-size: 1em;
  fill: black;
}